# * Server
PORT_SERVER=3000
# * DataBase
PASSWORD_DB="Hola.2020"
NAME_DB="full_message"
USERNAME_DB="admin_user"

PORT_DB=5432
HOST_DB=localhost 
DATABASE_URL=`postgresql://${USERNAME_DB}:${PASSWORD_DB}@${localhost}:${PORT_DB}/${NAME_DB}?schema=public`