# * Server
PORT_SERVER=3000
SECRET_JWT="full_message@JWT"
REFRESH_JWT="full_message@JWT_REFRESH"
# * DataBase
PASSWORD_DB="Hola.2020-1"
NAME_DB="full_message"
USERNAME_DB="admin_user"
PORT_DB=5432
HOST_DB=localhost 
DATABASE_URL=`postgresql://admin_user:Hola.2020@localhost:5432/full_message`


# * Users
NAME_ADMIN='user_admin'
PASSWORD_ADMIN='userAdmin-200'
EMAIL_ADMIN='admin@example.com'